# Ignore everything by default
*

# Allow web-apps and sdkjs folders for build context
!web-apps
!sdkjs

# Exclude large development/history/unnecessary folders
web-apps/.git
web-apps/**/node_modules
web-apps/**/.git
sdkjs/.git
sdkjs/**/.git
