# Dependencies
node_modules/
jspm_packages/

# Environment files
.env
.env*.local

# SQLite Database files
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# Backups
backups/

# Logs
logs
*.log
npm-debug.log*

# Docker and Build Artifacts
.dockerignore
Dockerfile.pwoffice
Dockerfile.pwoffice.*
*build/
*dist/

# IDEs
.idea/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/chrome-debug.log

# OS files
.DS_Store
Thumbs.db
